$orangeGama: darkorange;
$darkBackground: #1D1D1D;
$secondGrey: #353535;
$fontColor: #ADA2B0;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

body {
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  margin: 0;
	padding: 0;
	width: 100%;
  background-color: #262626;
  color: $fontColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
    background-color: $darkBackground;
    color: $orangeGama;
}

table {
  margin: auto;
  font-weight: normal;
  width: -webkit-fill-available;
  background-color: $darkBackground;
  table-layout: auto;
}

table tr{
  display: flex;
  justify-content: space-between;
  margin: 0px 25px 0px 25px;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  text-align: right;
}

table th{
  font-weight: normal;
}

tbody{
  display: table-cell;
  overflow-y: auto;
}

tr{
  transition: all 0.2s;
}

tr:hover{
  background-color: $orangeGama;
  color: $darkBackground;
}


/*HEADER*/
.Header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.Title {
  margin-top: 10px;
  margin-left: 10px;
  color: $orangeGama;
  font-size: 36px;
}

.description {
  font-size: medium;
  margin: auto auto auto 25px;
}

.ServerStatus {
  margin-right: 2%;
  margin-top: 2%;
  color: $orangeGama;
}

.ServerStatusTitle {
  color: $fontColor;
}


/*NAVBAR*/
.navbar{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: $secondGrey;
  margin-bottom: 10px;
  padding: 10px;
}

.tokenSelector {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.balance{
  margin-right: 10px;
  text-align: end;
}

.balanceTitle{
  font-size: medium;
}

.currency{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.pairTitle{
  font-size: medium;
  margin-bottom: 30px;
  margin-left: 10px;
}

.logoALY{
  width: 30px;
}

.ALYnumber{
  margin-top: 7px;
  margin-left: 3px;
}

.logoDAI{
  width: 25px;
  margin-left: 15px;
  margin-top: 3px;
}

.DAInumber{
  margin-top: 7px;
  margin-left: 3px;
}


/*MAIN*/
.Main {
  display: flex;
  justify-content: center;
}

/*MAIN LEFT*/
.MainLeft{
  width: 300px;
  border: 1px solid $secondGrey; 
}


/*TRADE HISTORY*/
.tradeHistoryTitle{
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-left: 5px;
}

.tradeContainer{
  height: 510px;
}

table #tradeHistoryBody{
  height: 530px;
  vertical-align: top;
}

#tradeHistoryBody tr{
}

#tradeHistoryBody th{
}

/*MAIN CENTER*/
.MainCenter{
  width: 40%;
  border: 1px solid $secondGrey;
  margin-left: 8px;
  margin-right: 8px;
}

.graph{
  height: 280px;
  background-color: $darkBackground;
}

.tbd{
  text-align: center;
  padding-top: 150px;
}

.buySellToken{
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid $secondGrey;
  border-bottom: 1px solid $secondGrey;
}

.buyToken{
  padding: 3%;
  width: -webkit-fill-available;
}

.buyTokenTitle{
  text-align: left;
  font-size: medium;
  margin-bottom: 10px;
}

.buyFields{
  display: flex;
  justify-content: space-between;
}

input{
  width: 100px;
  background-color: $darkBackground;
  border: 1px solid $secondGrey;
  color: white;
  font-family: $fontFamily;
}

.inputFields{
  -webkit-appearance:none!important;
    border-right:0px;
    outline:none;
    width:80px;
}

.inputFields2{
  -webkit-appearance:none!important;
    text-align:right;
    width:45px;
    border-left:0px;
    margin:0 0 0 -7px;
    color: $fontColor;
}

.inputFields:selected{
  background-color: $darkBackground;
  border: 1px solid $secondGrey;
  color: white;
}

input:-internal-autofill-selected {
  background-color: $darkBackground !important;
  background-image: none !important;
  color: white;
}

#priceBuy{
  background-color: $darkBackground !important;
}

.buyTokenButton{
  margin-top: 10px;
  background-color: $darkBackground;
  border: 1px solid $secondGrey;
  color: $fontColor;
  transition: all 0.2s;
}

.buyTokenButton:hover{
  background-color: $orangeGama;
  color: $darkBackground;
}

.yourOrders{
  text-align: left;
  margin: 10px;
  font-size: medium;
}

.userOrders{
  background-color: $darkBackground;
  height: 60px;
}


/*MAIN RIGHT*/
.MainRight{
  width: 300px;
  border: 1px solid $secondGrey;
}

.sectionOrderBook{
  display: flex;
  flex-direction: column;
}

.orderBookTitles{
  display: inline-flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 4px;
}

table #orderBookAsksBody{
  height: 245px;
  vertical-align: bottom;
}

table #orderBookBidsBody{
  height: 245px;
  vertical-align: top;
}

.newOrderPriceAsk{
  color: indianred;
}

.orderBookPrice{
  font-size: large;
  text-align: left;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.newOrderPriceBid{
  color: lawngreen;
}
